<% if flash.any?%>
  <%= render 'layouts/alerts'%>
<% end %>
<div class="row form-contact">
  <div class="column left">
    <h2>Instructions</h2>
    <p>Some text.. to help guide the dude. what he gon say what he gon do. someone plis help him</p>
  </div>
  <div class="column right">
    <p class = "form-head">CONTACT US</p>
    <%= render 'form', complain: @complain%>
  </div>
