<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" style= "bottom:0; width:100%; position:fixed;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: Web 4
    <a href= "https://validator.w3.org/check?uri=<%= @url %>">
      <%= image_tag "xhtml_validation.png",alt: "xhtml_image"%>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
