<!-- Footer -->
<footer class="text-center border-top" style="background-color:#325c52; color: #f6f1e8;">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            Follow Us On
          </h6>
          <div>
            <a href="https://www.facebook.com/groups/SUAITOfficial/" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.youtube.com/user/AITstudentunion" class="me-4 text-reset">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/aitstudentunion/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> P.O. Box 4 58 Moo 9, Km. 42, Paholyothin Highway, Klong Luang, Pathum Thani 12120 Thailand</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            supresident@ait.asia
          </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            Call Us
          </h6>
          <p><i class="fas fa-phone me-3"></i>(+66) 25245000</p>
          <p><i class="fas fa-print me-3"></i>(+66) 25160110-44</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: AIT Student Union
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
