<div class="container">
  <a href="<%= asset_url('ps2_db_transcript.txt') %>" target="_blank" > Transcript File</a>
  <p class="mb-0">References :
    <a style="font-size:14px" href="https://www.postgresql.org/docs/current/sql-copy.html">Postgresql copy data</a>&nbsp;&nbsp;
    <a style="font-size:14px" href="https://www.postgresql.org/docs/13/plpgsql-porting.html#id-1.8.8.15.6">PL/pgSQL Functions</a>&nbsp;&nbsp;
    <a style="font-size:14px" href="https://www.postgresql.org/docs/13/plpgsql-cursors.html">PL/pgSQL Cursor</a>&nbsp;&nbsp;
    <a style="font-size:14px" href="https://www.postgresql.org/docs/9.4/functions-string.html">Postrgresql ASCII</a>&nbsp;&nbsp;
    <a style="font-size:14px" href="https://www.postgresql.org/docs/9.2/sql-createview.html">Postgresql view</a>&nbsp;&nbsp;
  </p>
</div>
