<div class="container">
  <div class="card mb-5">
    <div class="card-body">
      <h5><b>Feedback from Student Union</b></h5>
      <p>User Interface</p>
      <li>Use specific color palette for the whole website.</li>
      <li>Change Layout of Student Union Information Page</li>
      <li>Styling change of Contact Us Page</li>
      <p>Features</p>
      <li>Add a page to show past events filtered by month</li>
      <li>Paginate the events</li>
      <li>Send emails automatically to respective committee members when student registers a complain.</li>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <h5><b>Feedback from Web 7</b></h5>
      <p>The overall website looks cool and up to the point what the system is actually going to offer. It
        looks simple and the color combination looks good except for certain areas. In the tables,
        paginations would be recommended, since the list tends to grow longer with the number of
        growing users in real time. And it would be great if you make headings consistent with all pages
        too</p>
      <p>We have accessed your site as an admin as well and found some design and functionality
        issues which we would like to address as follows:
      </p>
      <p>Home Page</p>
      <li>Event date can be formatted into some standard easy-to-read format</li>
      <li>Event details on cards are clipped, it would be better to show in brief what the event is
        about in a few words or lines on the home page, and a link to the full details while
        clicking on it. Same for the events page.
      </li>
      <li>When there is some update posted by the users like making complaints, you might want
        to add some space to display them right on the homepage for admin, or in the navigation
        bar as a sort of notification.</li>
      <p>SU Information Page</p>
      <li>We found a typo in the title for “Add Member” model. Please fix it.
      </li>
      <li>You might want to fix the responsive design since images don't seem to resize.</li>
      <p>Contact Form
      </p>
      <li>We feel that the color of the headings (dark green) needs to stand out a bit from normal
        text color
      </li>
      <li>While choosing colors, you can match it with the shades of the SU logo
      </li>
      <li>Buttons hover colors could be white if the background is dark, for example on the same
        page for the “Send Message” button.
      </li>
      <p>Users Page
      </p>
      <li>Normal search can be made auto, without having the need to click on the search button.
      </li>
      <li>Banned members can still login to the site and post complaints.
      </li>
      <p>User Feedback</p>
      <li>For the tags, you could add a brief description about what the tag is about. For example,
        if it is accommodation, you could write what accomodation is responsible for and what
        kind of complaints could go under them, or their contact info too. Just as a general info.
        li>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <h5><b>Feedback from Web 9</b></h5>
        <li>The upcoming events section in first page when clicked on the poster or read more it is not working so that user can see the details of event.</li>
        <li>A little more interactive user interface</li>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <h5><b>Action Plan</b></h5>
        <p>Based on the feedbacks received we have planned the following list of task</p>
        <li>Change Users table to SU member table</li>
        <li>Change SU information layout. To show members in their respectives committees</li>
        <li>Fix styling of the message on the admin side</li>
        <li>Paginate queries tables to handle large amount of entries.</li>
        <li>Fix styling on contact form page, handle errors and pick proper colours.</li>
        <li>Create a page to display list of past events instead of upcoming events. (Based on months)</li>
        <li>Use overall color schema provided by the SU for the website.</li>
        <li>Navigate to detailed event description page from the homepage cards.</li>
        <li>Implement image preview feature when posting events and SU Information.</li>
        <li>Send Email Notification to SU Members when students post complains.</li>
        <li>Add navigation links in necessary places.</li>
        <li>Add description of tags created.</li>
      </div>
    </div>
  </div>
