<div class="container">
  <h5>Plan for the Project</h5>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. What will people be able learn about in the community that you're building?</b></p>
      <p>This project is created to support major parts of the student union ecosystem. From handling events to assigning tasks to members, maintaining event calendar.
        <li>A place for students/general public to view upcoming events within AIT, SU trips etc.</li>
        <li>A place where students can reach out to the respective members of various committee by being  -able to submit issues/suggestions</li>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. What do you want people to say about your service after a visit?</b></p>
      <p>
        <p>For students/general users:
          <li>
            It's useful website to be upto date with current events within AIT and be able to submit queries directly to the relevant SU committees. 
          </li>
        </p>
        <p>For Admin/SU members:
          <li>
            It's an easy way to help organize SU events and help students be informed by posting current/upcomings events.
          </li>
          <li>It Helps allocate members to various tasks and events.</li>
        </p>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. What are the relevant distinct user classes?</b></p>
      <p>
        <li>Admin/ SU (vice)president</li>
        <li>SU members - Grouped by committee (ex: accomadation)</li>
        <li>Guests/students</li>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>What should a user on a smartphone be able to do?</b></p>
      <p>
        <li>They should be able to view a responsive web app</li>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Evaluate offline alternatives. You ought to have a good reason for building an information system.
          You need a convincing answer for why we need this system rather than a book, a pencil, and paper.
          Explain the available alternatives and explain the best features of these alternatives. Justify why your
          system is necessary.</b></p>
      <p>
        Meetings are the conventional method of managing events and assigning tasks.<br>
        Pros:<br>
        <li>More personal interactions can help convey the message clearly and efficiently.</li>
        <li>There is almost no barrier in communication.</li>
        <br>
        Cons:<br>
        <li>As it involves many individuals, the lack of convienience with regards to time, place etc can hinder the effectiveness of meeting.</li>
        <li>Also with the rise of the digital age and groups consisting of people from all over the world. Physical meetings are no longer a viable option.</li>
        <li>With disastrous situations like a global pandemic physical meetings have become next to impossible</li>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Evaluate online alternatives. Find the best existing online communities in your subject area. Note how
          closely they conform to the six elements of sustainability (magnet content, collaboration, searching and
          browsing capabilities, delegated moderation, means of removing bozos, and means for extending the
          community. Also write down anything strikingly good or bad about the registration process and the
          mechanisms of collaboration, e.g., in discussion forums, comments on articles, and chat rooms. Look
          for voice and mobile interfaces. If present, try them out. Look for evidence of personalization and
          direct controls over preferences.</b></p>
      <p>
        As we are developing a system for a community within a University, similar online communities would be the internal information systems in various educational institutions and organizations. However, considering the nature of the system and user classes we have, one online alternative to look into could be Udemy. 
        Udemy has two different user classes - teachers (who can post the learning material) and the students who can access the online materials.They provide some free courses, trial periods, demo of some of the material, which are the magnet content for the system. Students can leave ratings, comments
        about the courses. With the website's extensive search feature, students can easily find the material they are looking for.
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Identify where the magnet content for your system is going to come from</b></p>
      <p>
        <li>SU members will be drawn to the site as it will discuss various events and tasks initially kicked off by the admin.</li>
        <li>For the guests/students the magnet content will be provided by the SU member's post details of events happening in AIT on to the webpage.</li>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Decide on hostname and figure out DNS registration procedures. Be sure to look into the options for
          hosting of your web site. Ideally, you should all have a real hostname for your system, pointing to your
          CSIM server, by the end of the semester. At the end of the semester, you should also be ready to place
          your site at a more permanent home. Please include a plan for how you will do this. Note that AIT,
          CSIM, or AIT SU could probably be pursuaded to host some of your groups' sites. Others would be
          more appropriately hosted onsite.</b></p>
      <p>
        We decided on hostname - ait-su.in.th or ait-su.co.th as they were available. We can also use the existing su.ait.ac.th if we get to host the system in AIT'<samp></samp> server.<br>
        For DNS registration 
        <li>We need to either contact the registrar to check if the domain name we decided is available or we can also check online.</li>
        <li>We submit the necessary documents to the registrar and make the required payment.</li>
        <li>Once we provide these information, they will initiate the domain name registrarin process for us.</li>
        For hosting our system, if its not possible to host in the AIT server, we have decided to host via True internet.co.th hosting company of Bangkok.
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Describe the intellectual property rights of yourselves as developers, authors as contributors, and so
          on.</b></p>
      <p>
        As developers and authors we need to have understanding of the following intellectual property rights -
        <li>Trademark - to protect our name, domain, images and everything related to product design</li>
        <li>Patent</li>
        <li>Copyrights</li>
        <li>Trade Secrets</li>
      </p>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Set up nightly dumps of your database using cron or equivalent.</b></p>
      <p>Cron job was added for the nightly database backup.</p>
      <p>0 0 * * * /home/deploy/backup.sh >> /home/deploy/web4-app/assignments/current/log/cron.log 2>&1</p>
      <p>Screenshot of script</p>
      <%= image_tag "backup_sh.PNG",alt: "sh_image", class: "_image"%>
      <p>Screenshot of the database backup taken</p>
      <%= image_tag "db_backup.PNG",alt: "db_backup_image", class: "_image"%>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-body">
      <p><b>Q. Set up a continuous integration system for your team's development work. Gilab CI CD is recommended.
          However, you may use any continuous integration solution you like as long as the essential features are
          implemented. You should have a regression test suite and at least a code coverage metric.</b></p>
      <p>
        We set up the CI CD using Gitlab. Screenshot of the deployment pipelines
      </p>
      <%= image_tag "deployment_pipeline.PNG",alt: "deployment_image", class: "_image"%>
    </div>
  </div>
</div>
