<h5>Plan for the Project</h5>
<div class="card">
    <div class="card-body">
        <p>What will people be able learn about in the community that you're building?</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p>What do you want people to say about your service after a visit?</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p>What are the relevant distinct user classes?</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <p>What should a user on a smartphone be able to do?</p>
    </div>
</div>