._image {
  max-width: 100%;
  max-height: 100%;
}

body {
  padding-top: 70px;
}

// .circular_image {
//   width: 200px;
//   height: 200px;
//   margin-left: auto;
//   margin-right: auto;
//   border-radius: 50%;
// }

.circular_image {
  width: 100%;
  height: auto;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: block;
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
}

/* Default height for small devices */
#ait-background {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #ait-background {
    height: 600px;
  }
}

.event{
  cursor: pointer;
  overflow: hidden;
  width: 300px;
  height: 361px;
}

.event--img {
  width: auto;
  max-height: 300px;
}
