@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "templates";
._image {
    max-width: 100%;
    max-height: 100%;
}

body {
    margin: 0;
    // padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

// .circular_image {
//     width: 200px;
//     height: 200px;
//     margin-left: auto;
//     margin-right: auto;
//     border-radius: 50%;
// }
.circular_image {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
}


/* Create two unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
    font-family: "Roboto";
}

.right {
    width: 75%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.form-contact {
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
}

p.form-head {
    text-align: center;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 20px;
    color: #486255;
}

.input2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #384727;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    transform: all 0.5s ease;
    background-color: white;
}

.input,
.msg .area {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #384727;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    transform: all 0.5s ease;
    background-color: white;
}

.login .input {
    width: 40%;
    float: left;
    margin-right: 4%;
}

.input:focus,
.msg .area:focus {
    border: 2px solid #486255;
}

.login .input:last-child {
    margin-right: 0;
}

.msg .area {
    height: 200px;
}

.formbtn {
    background-color: Transparent;
    border: 1px solid black;
    border-color: #325c52;
    color: #325c52;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.formbtn:hover {
    border: 1px solid #325c52;
    border-color: rgba(127, 149, 111, 0.7);
    box-shadow: 0 0 5px rgba(72, 98, 85, 0.6);
    box-shadow: 0 0 10px rgba(72, 98, 85, 0.6);
}

.contact-img {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}


/* Default height for small devices */

#ait-background {
    height: 400px;
}


/* Height for devices larger than 992px */

@media (min-width: 992px) {
    #ait-background {
        height: 600px;
    }
}

.event--img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.event-container {
    max-width: 700px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.session--form {
    margin: 3rem 0 5rem 0;
}

// .btn-su {
//     border-color: #325c52;
//     color: #325c52;
// }
// .btn-su:hover {
//     border-color: rgba(127, 149, 111, 0.7);
//     color: rgba(127, 149, 111, 0.7);
// }
.btn-su {
    background-color: Transparent;
    border: 1px solid black;
    border-color: #325c52;
    color: #325c52;
}

.btn-su:hover {
    border: 1px solid black;
    border-color: rgba(127, 149, 111, 0.7);
    box-shadow: 0 0 5px rgba(72, 98, 85, 0.6);
}

.btn-su.filled {
    background-color: #325c52;
    color: white;
}

h3 {
    color: #325c52;
    font-family: Volkhov;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h5 {
    color: #325c52;
    font-family: Volkhov;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.btn-su {
    background-color: Transparent;
    border: 1px solid black;
    border-color: #325c52;
    color: #325c52;
}

.btn-su:hover {
    border: 1px solid #325c52;
    border-color: rgba(127, 149, 111, 0.7);
    box-shadow: 0 0 5px rgba(72, 98, 85, 0.6);
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

td,
th {
    padding: 1em;
    background: #ddd;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

td:first-child,
th:first-child {
    border-left: none;
}

a {
    color: #325c52;
}

a:hover {
    color: rgba(127, 149, 111, 0.7);
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: 0.125rem solid #325c52;
    border-bottom: 0.125rem solid #325c52;
    border-left: 0.125rem solid #325c52;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: 0.125rem solid;
    border-color: #325c52;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor #325c52;
    border-bottom: 0.125rem solid #325c52;
    border-right: 0.125rem solid #325c52;
    border-top: 0.125rem solid #325c52;
}

.form-outline .form-control:focus~.form-label {
    color: #325c52;
}


/* square-card */


/* 	card-header */


/* card-header_overlay */


/* pill */


/* card-title */


/* card-title > h4 */

.su-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 255px;
    border-radius: 6px;
    background: #fff;
    text-align: left;
    position: relative;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    margin-bottom: 20px;
    margin-top: 20px;
    &:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
        border: none;
        color: #24292d;
    }
    a {
        width: 100%;
        height: 100%;
        display: block;
        color: #525c65;
        border-bottom: none;
        text-decoration: none;
        transition: color 0.3s ease;
        max-width: 348px;
    }
}

.su-card-header {
    // width: 255px;
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 0 !important;
}

.card-header_overlay {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 9.75em;
    width: 100%;
    z-index: 4000;
}

.pill {
    color: #fff;
    position: relative;
    top: 15px;
    left: 5px;
    background-color: #aa8553;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    height: 50px;
    padding: 10px 15px;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 4px 6px 8px 0px rgba(46, 61, 73, 0.2);
}

.card-title {
    padding: 24px 32px;
    position: relative;
    >h4 {
        padding: 1em;
        font-size: 1.25em;
        line-height: 1.5em;
        font-weight: 300;
        text-transform: capitalize;
        margin: 0;
        color: black;
        letter-spacing: 0.03em;
    }
}

.page-header {
    padding-bottom: 9px;
    margin: 60px 0 20px;
    border-bottom: 1px solid #eee;
}

pre {
    font-family: "Roboto";
    font-size: 14px;
    white-space: pre-wrap;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    color: #325c52;
    opacity: 0.5;
}

.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
    background-color: #325c52;
    opacity: 0.5;
}

.event-pictures {
    width: 100%;
    object-fit: contain;
}

.events-list {
    width: 100%;
    object-fit: contain;
    max-height: 350px;
    background-color: #fff;
}

// .modal-body {
//     overflow: auto;
// }
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#conImg:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0 1em;
}

.images img {
    width: 100%;
    border: 1px solid black;
    border-color: #325c52;
    transition: 0.3s all ease;
}

.images img:hover {
    transform: scale(1.5);
}

// Adding for testing
.preview-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0 1em;
}

.preview-images img {
    width: 100%;
    border: 1px solid black;
    border-color: #325c52;
    transition: 0.3s all ease;
}

.preview-images img:hover {
    transform: scale(1.5);
}

.pagination a,
.pagination span.current,
.pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: #f5efe4;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination a:hover {
    border: 1px solid #325c52;
    border-color: rgba(127, 149, 111, 0.7);
    box-shadow: 0 0 2px rgba(72, 98, 85, 0.6);
}

.pagination {
    border-radius: 10px;
    border-left: 1px solid #ddd;
    .first {
        padding: 0;
        float: none;
        border: none;
    }
    .prev {
        padding: 0;
        float: none;
        border: none;
    }
    .page {
        padding: 0;
        float: none;
        border: none;
    }
    .next {
        padding: 0;
        float: none;
        border: none;
    }
    .last {
        padding: 0;
        float: none;
        border: none;
    }
}

.wrapper {
    padding: 30px;
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 500px;
    background: #e1d6c1;
    color: #325c52;
    transition: all 0.3s;
    text-align: center;
    border-radius: 20px;
}

#sidebar.active {
    margin-left: -280px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -280px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e1d6c1;
    border-radius: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e1d6c1;
}

#sidebar ul p {
    color: #f6f1e8;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #f6f1e8;
    background: #325c52;
}

#sidebar ul li.active {
    color: #f6f1e8;
    background: #325c52;
}

#sidebar ul li.active a {
    color: #f6f1e8;
    background: #325c52;
}

// #sidebar ul li a {
//     font-size: 0.9em !important;
//     padding-left: 30px !important;
//     background: #325c52;
//     color: #f6f1e8;
// }