<div class="container">
  <div class="d-flex flex-row-reverse mt-3 mb-3">
    <div>
      <%= select_month(Date.today,{},class: "form-control") %>
    </div>
  </div>
</div>
<%= render 'list', locals: {events: @events} %>
