<h2>Assignments</h2>
<hr>
<%# <%= link_to "Problem Set 1", basics_path%>
<h5>Problem Set 1: Basics</h5>
<hr>
<ul>
  <li><p><%= link_to 'Divide by zero', basics_divide_by_zero_path%></p></li>
  <li><p><%= link_to 'News', basics_news_path%></p></li>
</ul>

